.navbar-nav > li{
  padding-left:3vw;
  padding-right:3vw;
  }
  
  
/*   
  .nav-hover:hover{
      transition:1s;
      font-size:1.7vw
  } */
  body{
    background-image: linear-gradient(45deg,
          hsl(240deg 100% 20%) 0%,
          hsl(268deg 63% 24%) 11%,
          hsl(290deg 36% 29%) 22%,
          hsl(327deg 24% 37%) 33%,
          hsl(5deg 21% 46%) 44%,
          hsl(28deg 31% 49%) 56%,
          hsl(39deg 44% 52%) 67%,
          hsl(46deg 61% 54%) 78%,
          hsl(51deg 80% 55%) 89%,
          hsl(55deg 100% 50%) 100%);
  }